@import "./variables.scss";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif, "Dosis";
  @media screen and (max-width: 640px) {
    font-size: 12px;
  }
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.btn {
  border: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  height: max-content;
  border-radius: 3px;
  background-color: transparent;
  transition: all 200ms ease;
  &-secondary {
    background-color: $secondary-color;
    color: $primary-color;
    &:hover {
      transform: scale(1.05);
    }
  }
  &-primary {
    background-color: $primary-color;
    color: $secondary-color;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  color: #fff;
  height: 100px;
}

.logo {
  position: relative;
  margin-bottom: 10px;
  .logo__word {
    font-size: 2.5rem;
    word-spacing: 1px;
    letter-spacing: -4px;
  }
  .logo_decription {
    position: absolute;
    display: inline-block;
    font-size: 0.6rem;
    width: 100%;
    bottom: -2px;
    left: 6px;
  }
}

.navigation {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  text-transform: uppercase;
  @media screen and (max-width: 770px) {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    right: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }
}

.show {
  position: absolute;
  right: 0%;
  z-index: 100;
  background-color: black;
  font-size: 2.5rem;
  transition: all 0.3s;
  .navigation_item {
    margin-bottom: 3rem;
  }
}

.humburger {
  padding: 0.8rem;
  font-size: 2rem;
  z-index: 999;
  
  @media screen and (min-width: 770px) {
    display: none;
  }
  &__icon{
    cursor: pointer;
    display: none !important;
  }
}

.humburger .active {
  display: block !important;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("https://source.unsplash.com/random");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: grey;
  color: $secondary-color;
  height: 70vh;
  h1 {
    font-size: 4rem;
  }
  &__carousel {
    height: 100%;
  }
}
.swiper-container {
  width: 100%;
  height: 70vh;
}
.swiper-button-prev {
  color: $secondary-color !important;
  background-color: $primary-color;
}

.swiper-button-next {
  color: $primary-color !important;
  background-color: $secondary-color;
}
.button-slider {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  padding: 1rem 1.5rem !important;
  height: 100% !important;
  margin-top: 0rem !important;
  display: block im !important;
  @media screen and (max-width: 425px) {
    display: none !important;
  }
}

.promo {
  background-color: $primary-color;
  text-align: center;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  color: $secondary-color;
  &-content {
    @media screen and (min-width: 770px) {
      text-align: start;
    }
    &__title {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: medium;
    }
    &__description {
      font-size: 1rem;
      line-height: 1;
      font-family: "Dosis";
    }
  }

  @media screen and (min-width: 1024px) {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

.promo-btn {
  align-self: center;
  justify-content: flex-end;
  @media screen and (max-width: 770px) {
    justify-content: center;
  }
}

// services

.services {
  &__content {
    @media screen and (min-width: 1400px) {
      padding-right: 4rem;
    }
  }
  &__wraper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  &__title {
    text-align: center;
    &-text {
      font-size: 3rem;
      color: $primary-color;
      font-weight: 400;
    }
  }
  &__description {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 8px;
      background-color: $primary-color;
      top: -45px;
      transform: translate(-50%);
      @media screen and (min-width: 770px) {
        transform: translate(0);
        left: 0;
        top: 40px;
      }
      @media screen and (min-width: 1440px) {
        top: -25px;
      }
    }
    font-family: "Roboto ";
    text-align: center;
    margin-top: 6rem;
    &-title {
      font-size: 2rem;
      margin-top: 5rem;
    }
    &-text {
      font-size: 1.2rem;
      line-height: 1.5;
    }
    @media screen and (min-width: 770px) {
      margin-top: 3.5rem;
      text-align: left;
    }
  }
}

.cards {
  color: $main-text;
  &__row {
    justify-content: space-around;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $secondary-color;
  height: 100%;
  padding: 1rem;

  &__img {
    padding: 1rem;
    font-size: 4rem;
  }
  &__description {
    display: none;
    // background-color: aqua;
    width: 79%;
    margin: 0 auto;
    text-align: center;
    transform: scale(0);
    transition: 0.5s;
  }
  &__container {
    transition: all 100ms ease;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__container:hover {
    padding: 2.5rem;
    border: 3px solid $primary-color;
    .card__description {
      display: block;
      transform: scale(1);
    }
  }
}
.bg-gradient {
  background-image: linear-gradient($primary-color, transparent);
}
.bg-cover {
  background-color: #f9f6e5;
  padding: 3rem 0 0;
}
.project {
  // background-color: $primary-color;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 640px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media screen and (max-width: 320) {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  &__title {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 70px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 8px;
      background-color: $secondary-color;
      bottom: -1.8em;
      transform: translate(-50%);
    }
    @media screen and (max-width: 640px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 320) {
      margin-bottom: 40px;
    }
  }
}
.fa {
  color: $primary-color;
  padding: 1rem;
  font-size: 30px;
}
.card__btn {
  margin-top: 0.8rem;
}
.icon-btn {
  margin-left: 0.5rem;
}
.card-project {
  &__images {
    padding-bottom: 1rem;

    &:hover .icon {
      transform: scale(1);
    }
  }
  &__image {
    padding: 2rem;
    height: 300px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-shadow: 0 0 6px $secondary-color;
    overflow: hidden;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      background-color: #f9f6e5;
      z-index: 1;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transition: all 0.3s ease;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__title {
    text-align: center;
    margin-top: 20px;
    color: darken($color: $primary-color, $amount: 10);
  }
}

// VIDEO

.video {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &__image {
    @media screen and (max-width: 770px) {
      padding-bottom: 3rem;
    }
   
  }
  &__content {
    p{
      margin-top: 3rem;
    }
    h3{
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: $primary-color;
        bottom: -20px;
        left: 0;
      }
      @media screen and (max-width: 770px) {
        &::before {
          left: 50%;
          transform: translate(-50%);
        }
        text-align: center;
      }
    }
    @media screen and (max-width: 770px) {
      text-align: center;
    }
  }
  &__button {
    align-self: flex-start;
    @media screen and (max-width: 770px) {
      align-self: center;
    }
  }
}

// NEWS
.news {
  &__title {
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 8px;
      background-color: $primary-color;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%);
    }
    h3 {
      color: $primary-color;
    }
  }
  &__card {
    margin-top: 3rem;
  }
}

.grid-container {
  columns: 3 300px;
  column-gap: 1.5rem;
  width: 100%;
}
.image-card {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  p {
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
  }
}

.swiper-testimonial {
  font-family: "Roboto", serif;
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 4rem;
}
.testimonial-pagination {
  padding: 3rem;
}
.testimonial {
  padding: 4rem;
  height: 100%;
  &__icon {
    font-size: 2rem;
  }
  &__phrase {
    font-size: 1.8rem;
  }
  &__autor {
    font-size: 1.5rem;
    font-size: bold;
  }
}

.footer {
  color: $secondary-color;
  padding: 5rem 0;
  background-color: $primary-color;
  position: relative;
  &__logo {
    text-align: center;
    width: 200px;
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    font-size: 1.5rem;
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  h6 {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__menu {
    padding: 0;
    text-transform: uppercase;
  }
  &__item {
    padding-top: 1rem;
  }
}

.social {
  margin: 2rem 0;
  &__icon {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border: 1px solid #7ebf84;
    @media screen and (max-width: 640px) {
      border: none;
    }
  }
  &__icon:nth-child(1),
  &__icon:nth-last-child(1) {
    border-left: none;
    border-right: none;
  }
}
